#livesearch_search_results {
	margin:0px;
	padding:5px;
	position: absolute;
	top: 92px;
	left: 40px;
	background-color: #FFFFFF;
	list-style-type: none;
	z-index: 36;
	width: 208px;
	_border: 1px solid #e0f4ff;

}
#livesearch_search_results li {
        padding: 5px;
}
#livesearch_search_results a,
#livesearch_search_results a:visited,
#livesearch_search_results a:hover {
	color: #666666;
	text-decoration: none;
}
#livesearch_search_results a:hover {
	color: #333333;
}
#livesearch_search_results li:hover {
        background-color: #F5EAF8;
}
#livesearch_search_results .highlighted {
        background-color: #F5EAF8;
}

